.pieceDispos{

    margin: 20px;
}

button{
    width: 100px;
    height: 100px;
}

.form-plateau-btn-enabled{
    background: rgba(0, 128, 0, 0.75);
}

.form-plateau-btn-disabled{
    background: rgba(255, 0, 0, 0.5);
}